$darkviolet: #9b81f1;
$yellow: #e5f55b;
$milkcolor: #fffefe;
$menubg: #f3f3f3;
$menucol: #b00e0f;
$menuahoverbg: #cebcbc;
$menuahovercol: #eee;
$aboutleftbg: #854646;
$aboutrightbg: #797878;
$h2col: #fff;