@media screen and (max-width:570px) {
	.menu-list {
		display: none;
		position: absolute;
		background: $menubg;
		width: 100%;
		li {
			float: none;
		}
		a {
			width: 100%;
		}
	}
	
	.toggle-menu {
		display: block;
	}
}